body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.heading {
  background-color: aliceblue;
  text-align: center;
}

.links {
  text-align: center;
  padding-top: 10px;
}

.links a {
  text-decoration: none;

}
